{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'css/owl/owl.carousel.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/owl/owl.theme.default.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" />
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
        <title>Login - LOCarros</title>
    </head>
    <body>
        <div id="header">
            <div class="container">
                <nav id="navbar" class="navbar order-last order-lg-0">
                    <ul>
                        <li><a href="{% url 'index' %}" class="active">Página Inicial</a></li>
                        
                        <li class="dropdown">
                            <a href="#"><span>Clientes</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a href="{% url 'employee-clients' %}">Listar</a></li>
                            </ul>
                        </li>
    
                        <li class="dropdown">
                            <a href="#"><span>Veículos</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a href="{% url 'employee-vehicles' %}">Listar</a></li>
                                <li><a href="{% url 'register-vehicles' %}">Cadastrar</a></li>
                            </ul>
                        </li>
    
                        <li class="dropdown">
                            <a href="#"><span>Locações</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a href="{% url 'employee-leases' %}">Listar</a></li>
                                <li><a href="{% url 'register-leases' %}">Cadastrar</a></li>
                            </ul>
                        </li>
    
                        <li><a href="{% url 'logout' %}">Sair</a></li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav>
            </div>
        </div>

        <section class="vh-100">
            <div class="container-fluid h-custom">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-md-8 col-lg-6 col-xl-3 offset-xl-1 mr-5">
                        <form action="{% url 'employee-login' %}" method="POST">
                            {% csrf_token %}
                            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start"></div>

                            <div class="form-outline mb-4">
                                <h5 class="form-label">Área restrita aos administradores do sistema.</h5>
                            </div>

                            {% if messages %}
                                {% for message in messages %}
                                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                        <div class="alert alert-danger alert-dismissible fade show mt-4" role="alert" style="font-size: 14px; background-color: #f8d7da; color: #721c24; border-color: #f5c6cb; box-shadow: none;">
                                            {{ message }}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                        <div class="alert alert-success alert-dismissible fade show mt-4" role="alert" style="font-size: 14px; background-color: #d4edda; color: #155724; border-color: #c3e6cb; box-shadow: none;">
                                            {{ message }}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            <div class="form-outline mb-3 mt-4">
                                <label class="form-label" for="form3Example3">Usuário</label>
                                <input type="text" id="form3Example3" name="username" class="form-control form-control-lg" minlength="3" maxlength="20" pattern="^[\w]{3,20}$" title="O usuário deve ter apenas letras e números." required/>
                            </div>

                            <div class="form-outline mb-3">
                                <label class="form-label" for="form3Example4">Senha</label>
                                <input type="password" id="form3Example4" name="password" class="form-control form-control-lg" minlength="3" maxlength="20" pattern="^[\w]{3,20}$" title="A senha deve ter apenas letras e números." required/>
                            </div>

                            <div class="d-flex justify-content-between align-items-center">
                                <div class="form-check mb-0"></div>
                                <a href="#" class="text-body">Esqueceu a senha?</a>
                            </div>

                            <div class="text-center text-lg-start mt-4 pt-2">
                                <button type="submit" class="btn bg-secondary text-white btn-lg" style="padding-left: 4rem; padding-right: 4rem;">Entrar</button>
                            </div>
                        </form>
                    </div>

                    <div class="col-md-9 col-lg-6 col-xl-5">
                        <img src="{% static 'Adm.svg' %}" class="img-fluid" alt="Sample image" />
                    </div>
                </div>
            </div>
        </section>

        <script>
            function employee_login() {
                location.href = "{% url 'employee-login' %}";
            }
        </script>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'js/magnify/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'js/main.js' }"></script>
    </body>
</html>